<nav class="navbar sticky-top navbar-expand-sm navbar-light bg-light">
    <div class="container-fluid">
        <a href="/" class="navbar-brand">&copy;OMS</a>
        <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div id="navbarCollapse" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="nav-item">
                    <a href="/" class="nav-link">Home</a>
                </li>
                <li class="nav-item">
                    <a href="/products" class="nav-link">Sản phẩm</a>
                </li>
                <li class="nav-item">
                    <a href="/customers" class="nav-link">Khách Hàng</a>
                </li>
                <li class="nav-item">
                    <a href="/orders" class="nav-link">Đơn Hàng</a>
                </li>
                <li class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" role="button">Báo cáo</a>
                    <div class="dropdown-menu">
                        <a href="/reports/productRemain" class="dropdown-item">Hàng tồn</a>
                        <a href="/reports/saleDetail" class="dropdown-item">Doanh thu</a>                       
                        <div class="dropdown-divider"></div>
                        <a href="#"class="dropdown-item">Khác</a>
                    </div>
                </li>        
            </ul>
            <ul class="nav navbar-nav ms-auto">
              <li class="nav-item">               
                <a href="/logout" class="nav-link">Đăng xuất</a>
            </li>
            </ul>
        </div>
    </div>
</nav>